{% extends "base.html" %}

{% block flash %}
  <div class="alert alert-{{flash.type}}">{{flash.message}}</div>
{% endblock flash %}

{% block content %}
<form action="" method="post" name="new">
    <p>Name:</p> <input type="text" name="name" />
    <p>Year:</p> <input type="text" name="year" />
    <p>Type:</p> <input type="text" name="type" />
    <p>Region:</p> <input type="text" name="region" />
    <p>Comment:</p> <input type="text" name="comment" />
    <p>Rating:</p> <input type="text" name="rating" />
    <br>
    <input type="submit" value="Add Wine" />
</form>
{% endblock content %}


