{% extends "base.html" %}
{% block content %}
<form action="" method="post" name="newWine">
    <p>Name:</p> <input type="text" name="name" />
    <p>Year:</p> <input type="text" name="year" />
    <p>Type:</p> <input type="text" name="type" />
    <p>Region:</p> <input type="text" name="region" />
    <p>Comments:</p> <input type="text" name="comments" />
    <p>Rating:</p> <input type="text" name="rating" />
    <br>
    <input type="submit" value="Add Wine" />
</form>
{% endblock content %}


