{% extends "base.html" %}
{% block content %}
<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>Name</th>
            <th>Year</th>
            <th>Type</th>
            <th>Region</th>
            <th>Image</th>
            <th>Average Rating</th>
        </tr>
    </thead>
    <tbody>
{% for bottle in bottles %}
         <tr data-href="/wineViews/detail/{{bottle.wine_id}}">
             <td>{{bottle.name}}</td>
             <td>{{bottle.year}}</td>
             <td>{{bottle.type}}</td>
             <td>{{bottle.region}}</td>
             <td><img src="/images/WineBottles/{{bottle.filename}}" height="125px" alt="Missing Image"></td>
             <td>{{bottle.rating}}</td>
         </tr>
{% endfor %}
    </tbody>
</table>

{% endblock content %}
