<div class="container">
  <div class="row">
    <div class="col-sm-2">
      <img src="/WineBottles/{{wine.filename}}" height="200px" />
    </div>
    <div class="col-sm-5 col-sm-auto">
      <h2>{{wine.name}} ({{wine.year}})</h2>
      <h6>{{wine.type}}</h6>
      <h6>{{wine.region}}</h6>
    </div>
    <div class="col-sm-2">
      <span style="font-size:150px">{{wine.rating}}</span>
    </div>
  </div>
  <div class="row">
    <div class="card">
      <table class="table table-striped table-hover">
        <thead>
          <tr>
            <th>User</th>
            <th>Comment</th>
            <th>Time</th>
          </tr>
        </thead>
        <tbody>
            <tr *ngFor="let comment of comments">
              <td><img src="{{comment.image_url}}"><br>{{comment.first_name}}</td>
              <td>{{comment.comment}}</td>
              <td>{{comment.time}}</td>
            </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row">
    <add-image-form [wineId]="wine.wine_id"></add-image-form>
  </div>
</div>
