<wine-count-card></wine-count-card>
<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>Name</th>
            <th>Year</th>
            <th>Type</th>
            <th>Region</th>
            <th>Image</th>
            <th>Average Rating</th>
        </tr>
    </thead>
    <tbody>
         <tr *ngFor="let wine of wines" routerLink="/wine/{{wine.wine_id}}">
             <td>{{wine.name}}</td>
             <td>{{wine.year}}</td>
             <td>{{wine.type}}</td>
             <td>{{wine.region}}</td>
             <td><img src="https://wine-database.hopto.org/images/WineBottles/{{wine.filename}}" height="125px" alt="Missing Image"></td>
             <td>{{wine.rating}}</td>
         </tr>
    </tbody>
</table>
