h1 {
  color: #369;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 260%;
}

/* Forms */
.ng-valid[required], .ng-valid.requried {
  border-left: 5px solid #42A948;
}

.ng-invalid:not(form) {
  border-left: 5px solid #a94442;
}