{% extends "base.html" %}
{% block content %}
<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>Name</th>
            <th>Year</th>
            <th>Type</th>
            <th>Region</th>
            <th>Comments</th>
            <th>Image</th>
            <th>Rating</th>
        </tr>
    </thead>
{% for bottle in bottles %}
    <tbody>
         <tr>
             <td>{{bottle.Name}}</td>
             <td>{{bottle.Year}}</td>
             <td>{{bottle.Type}}</td>
             <td>{{bottle.Region}}</td>
             <td>{{bottle.Comments}}</td>
             <td><img src="static/images/WineBottles/{{bottle.FileName}}"/ height="125px" alt="Missing Image"></td>
             <td>{{bottle.Rating}}</td>
         </tr>
    </tbody>
{% endfor %}
</table>

{% endblock %}
